*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
    font-family: 'Merriweather Sans','Poppins', sans-serif;
    color: black;
}

fieldset{
    margin: 100px 300px;
    padding: 80px;
    background-color: #fff;
    border: solid 0px;
    border-radius: 12px;
}

h1{
    font-weight: 700;
    font-size: 45px;
    margin: 50px auto;
    text-align: center;
}

h2{
    font-weight: 700;
    margin: 30px 0px 10px 44px;
}

h4{
    font-weight: 700;
    margin: 10px 0px 10px 44px;
    text-align: left;
}

figure{
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

figure img{
    width: 98%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

figcaption{
    box-sizing: border-box;
    margin: 12px 20px 0px 0px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "icons bulk";
}

.icons{
    background-color: #eaeaea;
    width: 300px;
    border-radius: 10px;
    text-align: left;
    padding: 10px 20px;
    margin: 16px 0px 0px 24px;
    grid-area: icons;
}

.bulk{
    padding-top: 8px;
    padding-right: 5px;
    text-align: right;
    grid-area: bulk;
}

.icons img{
    display: inline;
    width: 40px;
}

.icons p{
    display: inline;
    position: relative;
    bottom: 12px;
    left: 5px;
}

ul, li{
    margin-left: 44px;
}

ol{
    margin-left: 24px;
} 

section p{
    margin-left: 45px;
}

footer{
    margin: 60px auto 40px;
    text-align: center;
    color: #f14c00;
}

footer a{
    text-decoration: none;
    color: #6d2200;
}

footer a:hover{
    text-decoration: none;
    color: #f14c00;
    transition: 0.5s;
}

footer p{
    margin-left: 44px;
}